@import "~bootstrap/scss/bootstrap";
$primary: #562812;
$screen-sm:768px;
body {
  font-family: "Typewriter", sans-serif;
  font-size: 16px;
  color: $primary;
  overflow-x: hidden;
  @media (max-width: $screen-sm) {
    font-size: 14px;
  }
}